@model IEnumerable<EMTrackerDev.Models.Result>

@{
    ViewData["Title"] = "Index";
}

<h1>Generate a Report</h1>
<br />



@using (Html.BeginForm("Export", "Results", FormMethod.Post))
{
    <p>Report of Approved Samples</p>

    <input type="submit" value="Export" />
}
<br />
