@model EMTrackerDev.Models.Sample

@{
    ViewData["Title"] = "Retrieve";
}

<h1>Reports for @Model.SampleID</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    @Html.LabelFor(model => model.Test)
    @foreach (var r in Model.Test)
    {

        @Html.DisplayFor(rItem => r.Analysis.Name)
                @Html.ActionLink("Edit", "Edit", "Tests",new{ id=r.TestID}) <br />


    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>