@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EMTrackerDevHome</title>

    <style>

    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome *User*</h1>
    </div><br /><br />
    <div class="container">
      <div class="row">
              <div class="col-sm-4">
            </div>
        <div class="text-center">
        
            <div class="col-sm-4">
                Upload Sample
                <input id="sampleBtn" type="image" class="img-fluid" src="~/imgs/sample.png">
            </div>
       
         
        </div>
            <div class="col-sm-4">
            </div>
     <div>
         </div>
         </div>
    </div>
</body>
</html>
<script>
    $("#sampleBtn").click(function () {
        window.location.href = '@Url.Action("Create", "Samples")';

    });
    
</script>