@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EMTrackerDevHome</title>

    <style>

    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome *User*</h1>
    </div><br /><br />
    <div class="container">
      <div class="row">
              <div class="col-sm-4">
            </div>
              <div class="text-center">

                  <div class="row-cols-sm-4">
                      <strong>Upload Sample</strong>
                      <input id="sampleBtn" type="image" class="img-fluid" height="1000" width="1000" src="~/imgs/srssign.jpg">

                  </div>
                  <div class="row-cols-sm-4">
                      <strong>Review Samples</strong>
                      <input id="sampleBtn1" type="image" class="img-fluid" height="1000" width="1000" src="~/imgs/srstrain.jpg">
                  </div>

              </div>
            <div class="col-sm-4">
            </div>
     <div>
         </div>
         </div>
    </div>
</body>
</html>
<script>
    $("#sampleBtn").click(function () {
        window.location.href = '@Url.Action("Create", "Samples")';

    });
     $("#sampleBtn1").click(function () {
        window.location.href = '@Url.Action("Index", "Samples")';

    });

</script>